/* Styles généraux */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 10px;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

/* Réactivité */

/* Pour les écrans plus petits, par exemple, les smartphones */

@media (max-width: 767px) {
    header {
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        display: block;
        margin: 5px 0;
    }

    main {
        padding: 10px;
    }

    section {
        margin: 10px 0;
    }
}

/* Pour les écrans plus grands, par exemple, les tablettes et les ordinateurs de bureau */

@media (min-width: 768px) {
    nav ul {
        justify-content: flex-end;
    }
}

/* Autres ajustements de mise en page pour les écrans plus larges si nécessaire */

/* Styles pour les images de la galerie */
.image-grid {
    display: grid;
    grid-template-columns: 1fr; /* 1 colonne pour mobile */
    grid-gap: 10px; /* Espace entre les images */
}

.image {
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center; /* Centrez le contenu */
    padding: 10px;
}

.image img {
    max-width: 100%; /* Les images occupent 100% de la largeur de la div */
    height: auto; /* Conserve le rapport hauteur/largeur */
    display: block;
    transition: transform 0.2s; /* Animation de zoom au survol */
}

/* Réactivité */

/* Pour les écrans plus petits (mobile) */
@media (max-width: 767px) {
    .image {
        width: 100%; /* Les images occupent 100% de la largeur de leur parent */
    }
}

/* Pour les écrans plus grands (desktop) */
@media (min-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes pour desktop */
    }

    .image {
        width: auto; /* Largeur automatique pour les images */
    }
}