/* Styles généraux */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 10px;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

/* Réactivité */

/* Pour les écrans plus petits, par exemple, les smartphones */

@media (max-width: 767px) {
    header {
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        display: block;
        margin: 5px 0;
    }

    main {
        padding: 10px;
    }

    section {
        margin: 10px 0;
    }
}

/* Pour les écrans plus grands, par exemple, les tablettes et les ordinateurs de bureau */

@media (min-width: 768px) {
    nav ul {
        justify-content: flex-end;
    }
}


/* Styles pour la grille de la galerie */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes pour desktop */
    grid-gap: 10px; /* Espacement entre les images */
    justify-items: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    border: 1px solid #ccc; /* Bord de la grille */
    border-radius: 8px; /* Bords arrondis de la grille */
    padding: 10px;
}

.image {
    position: relative;
    overflow: hidden;
    width: 100%; /* Les images occupent toute la largeur du cadre */
    height: 100%; /* Les images occupent toute la hauteur du cadre */
}

.image img {
    max-width: 100%; /* Les images occupent 100% de la largeur de la div */
    max-height: 100%; /* Les images occupent 100% de la hauteur de la div */
    display: block;
    transition: transform 0.2s; /* Animation de zoom au survol */
}

.image:hover img {
    opacity: 0.7; /* Réduire l'opacité au survol */
    transform: scale(1.05); /* Légère mise à l'échelle au survol */
}

.image .label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    color: #fff;
    padding: 5px;
    text-align: center;
    opacity: 0; /* Le label est initialement invisible */
    transition: opacity 0.2s; /* Animation d'opacité */
}

.image:hover .label {
    opacity: 1; /* Afficher le label au survol */
}

/* Réactivité */

/* Pour les écrans plus petits (mobile) */
@media (max-width: 767px) {
    .image-grid {
        grid-template-columns: 1fr; /* 1 colonne pour mobile */
    }
}

/* Pour les écrans plus grands (desktop) */
@media (min-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes pour desktop */
    }
}



/* Style spécifique pour le lien Instagram */
nav a[href="#instagram"] img {
    width: 30px; /* Ajustez la taille de l'icône selon vos besoins */
    height: 30px; /* Ajustez la taille de l'icône selon vos besoins */
}

nav a[href="#instagram"]:hover img {
    opacity: 0.7; /* Opacité réduite au survol */
}